<!DOCTYPE html>
<html lang="cs">

<head>
    <!-- Document Title -->
    <title>MagnaDesign | Logotvorba pro obec Václavovice</title>

    <!-- Metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="CaliberThemes" />

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />

    <!-- Links -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,latin-ext" rel="stylesheet" type="text/css" />    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />    
    
    <link rel='stylesheet' id='font-awesome-css' href='assets/css/icons/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-css' href='assets/vendors/bootstrap/css/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='swiper-css' href='assets/vendors/swiper/css/swiper.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='cubeportfolio-css' href='assets/vendors/cubeportfolio/css/cubeportfolio.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css' href='assets/vendors/magnific-popup/magnific-popup.css' type='text/css' media='all' />
    

    <link rel='stylesheet' id='main-css' href='style.css' type='text/css' media='all' />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G5E5D0N3L6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G5E5D0N3L6');
    </script>
</head>

   
    <body class="dark single-portfolio portfolio-details-bottom">
    
        <!-- Page Wrapper -->
        
        <div id="page" class="site">
        
        <header style="background-image: url(assets/images/portfolio/parallax-showcase/portfolio7.jpg); box-shadow: inset 0 0 300px #0a0a0a;" id="masthead" class="site-header standard full-width solid" role="banner">
        
            <div class="wrap">
        
                <div id="site-branding">
        
                    <a class="logo-brand" href="uvod">
                        <img class="logo" src="assets/images/logo_Magnadesign.png" alt="Logo" />
                        <img class="retina-logo" src="assets/images/logo_Magnadesign_mobil.png" alt="Retina Logo" />
                    </a>
        
                </div><!-- .site-branding -->
        
                <span id="ham-trigger-wrap"><span class="ham-trigger"><span></span></span></span>
        
                
                <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
                
                    <ul id="top-menu" class="menu">
                        <li>
                            <a href="uvod">Úvod</a>                    
                        </li>  
                        
                        <li>
                            <a href="projekty">Projekty</a>
                        </li>  
                              
                        <li>
                            <a href="o-mne">O mně</a>
                        </li>
                        
                        <li >
                            <a href="kontakt">Kontakt</a>
                        </li>
                        
                        <li class="has-children ">
                            <a><img width="16" src="assets\images\flags\cz.jpg"></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="project-logo-website-vaclavovice"><img width="16" src="assets\images\flags\gb.jpg"></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                
                </nav><!-- #site-navigation -->
            </div><!-- .wrap -->
            
        </header>
        
        <div class="site-content-contain">
            <div id="content" class="site-content">                
        
                <div id="primary" class="content-area">
                    <main id="main" class="site-main" role="main">    
    
        <div class="container">
        
            <article class="portfolio">
            
                <header class="entry-header">
                    <h2 class="entry-title">Logotvorba pro obec Václavovice</h2>
                    <div class="description">Identita obce / Webové stránky</div>
                </header><!-- .entry-header -->
            
            
                <div class="entry-content">
            
                    <div class="media-wrap">
                        <div class="caster-portfolio-wrap portfolio-media">
                            <div id="portfolio-container-media1" class="cbp" data-layoutmode="grid" data-displaytype="default"
                                data-gaphorizontal="50" data-gapvertical="30" data-large-desktop="1" data-tablet-landscape="1"
                                data-tablet-portrait="1" data-mobile="1">
                                <div class="cbp-item">
                                    <div class="cbp-caption-defaultWrap">
                                        <img width="1200" height="800"
                                            src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-cbp-src="assets/images/portfolio-single/big-image/book-big-1-min.jpg"
                                            alt="Book 1">
                                    </div>
                                </div>
                                <div class="cbp-item">
                                    <div class="cbp-caption-defaultWrap">
                                        <img width="1200" height="800"
                                            src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-cbp-src="assets/images/portfolio-single/big-image/book-big-4-min.jpg"
                                            alt="Book 2">
                                    </div>
                                </div>
                                
                                <div class="cbp-item">
                                   <!--
                                    <div class="cbp-caption-defaultWrap">
                                        <img width="1200" height="800"
                                            src="data:image/gif;base64,R0lGODlhAQABAPAAAP///////yH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                                            data-cbp-src="assets/images/portfolio-single/big-image/book-big-3-min.jpg"
                                            alt="Book 3">
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div><!-- .entry-content -->
            
                <div class="entry-meta-title">
                    <h4>Souhrn</h4>
                </div>
            
                <div class="entry-meta ">
            
                    <div class="meta-desc">
                        <p>Dostal jsem za úkol vytvořit logo obce a webové stránky. Pro logo této obce jsem nepoužil žádné elementy ze znaku, jelikož se nehodí k moderně směřované budoucnosti Václavovic. Velkou předností obce je Kostel svatého Václava, pohrál jsem si s myšlenkou zakomponovat jej do loga. Udělal jsem několik návrhů, ze začátku byly křivky kostela docela ostré a tak mě napadlo je vytvořit tak, aby byly jemné. Díky tomu vznikl návrh, který se dostal až do finále. Chtěl jsem zakomponovat tento návrh tak, aby seděl do názvu Václavovice, napadlo mě ukončit kostel tahem a spojit jej se šestým písmenem názvu obce, čímž je V jako Václav, kostel tak v logu signalizuje, že je to opravdu kostel svatého Václava. Zvolil jsem dvě barvy – světle modrou a žlutou, jelikož tyto barvy signalizují volnost a pohodu v obci. Pro zvýraznění jsem zakomponoval podtržení žlutou čarou, kostel má barvu modrou.</p>
                    </div>
            
                    <div class="meta-entries">
                        <ul>
                            <li><span>Datum</span>2021</li>
                            <li><span>Klient</span>školní projekt</li>
                            <!--
                            <li><span>Categories</span>
                                <span class="portfolio-categories">
                                    <a href="#">Identity</a>
                                </span>
                            </li>
                            <li class="portfolio-social-share-links">
                                <span>Share</span>
                                <a href="#" data-network="fab fa-facebook-f" data-shareurl="#" title="Share portfolio on Facebook">Fb</a>
                                <a href="#" data-network="fab fa-twitter" data-shareurl="#" title="Share portfolio on Twitter">Tw</a>
                                <a href="#" data-network="fab fa-pinterest-p" data-shareurl="#" title="Share portfolio on Pinterest">Pin</a>
                            </li>-->
                        </ul>
                    </div>
                </div>
            
            </article>
    
            <div class="portfolio-navigation-wrap">
                <div class="portfolio-navigation">
                    <a href="projekt-reklama-na-limonadu" rel="next">                    
                        <span>DALŠÍ PROJEKT</span>
                    </a>
                    <div class="portfolio-navigation-title">
                        <a href="projekt-reklama-na-limonadu">
                            <h3>Reklama na limonádu</h3>
                        </a>
                    </div>
                </div>
            </div>
    
        </div>
    
        
                    </main>   
                </div> <!-- .content-area -->        
        
            </div> <!-- .site-content -->                  
        
        
            <footer id="footer" class="site-footer standard" role="contentinfo">
        
                <div class="container">
        
                    <nav class="footer-socials" role="navigation" aria-label="Footer Social Links Menu">
        
                        <ul id="social-media-footer" class="social-links-menu">
                            <li>
                                <a href="https://www.facebook.com/marrk.zak/" target="_blank">
                                    <span>Facebook</span>
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/marrk_zak" target="_blank">
                                    <span>Twitter</span>
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/marrk_zak/" target="_blank">
                                    <span>Instagram</span>
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
        
                    </nav>
        
                    <div class="site-info">
                        <p class="copyright">Copyright © 2021 MagnaDesign</p>
                    </div><!-- .site-info -->
        
                </div><!-- .wrap -->
        
            </footer>
        
        </div> <!-- .site-content-contain -->
        
        </div> <!-- .site -->
        
        <!-- Page Wrapper Ends -->
        
        <div class="vertical-text">
            <p></p>
        </div>
        
        
        <div class="background-circle">
            <div></div>
        </div>
        
        
        
        <!--  Scripts -->
        <script type='text/javascript' src='assets/vendors/jquery.min.js'></script>
        <script type='text/javascript' src='assets/vendors/jquery.easing.min.1.3.js'></script>
        <script type='text/javascript' src='assets/vendors/imagesloaded.pkgd.min.js'></script>
        <script type='text/javascript' src='assets/vendors/headsup.min.js'></script>
        <script type='text/javascript' src='assets/vendors/sticky-kit.min.js'></script>
        <script type='text/javascript' src='assets/vendors/lazysizes.min.js'></script>
        <script type='text/javascript' src='assets/vendors/social-share.min.js'></script>
        <script type='text/javascript' src='assets/vendors/parallax.min.js'></script>
        <script type='text/javascript' src='assets/vendors/caster-tooltip.js'></script>
        <script type='text/javascript' src='assets/vendors/jquery.waypoints.min.js'></script>
        
        
        <script type='text/javascript' src='assets/vendors/gsap/gsap.min.js'></script>
        <script type='text/javascript' src='assets/vendors/scrollmagic/ScrollMagic.min.js'></script>
        <script type='text/javascript' src='assets/vendors/scrollmagic/animation.gsap.min.js'></script>
        
        <script type='text/javascript' src='assets/vendors/cubeportfolio/js/jquery.cubeportfolio.min.js'></script>       
        
        <script type='text/javascript' src='assets/vendors/swiper/js/swiper.min.js'></script>    
        
        <script type='text/javascript' src='assets/vendors/magnific-popup/jquery.magnific-popup.min.js'></script>    
        
        <script type='text/javascript' src='assets/js/main.js'></script>    
        
        <!--  Scripts Ends -->    
    </body>
  
</html>
